<header>
    <!-- <h1 class="site-title">Generic Music Page</h1> -->
    <div class="title-image"> 
        <h1>Music Site</h1>
    </div>
</header>
 
<div class ="navigation-bar"> 
    <div class="nav-item"> 
        <a href="/albums">Album list</a>
    </div>
    <div class ="nav-item"> 
        <a href="/artist">Artist List</a>
    </div>
    <div class="nav-item">
        <a href="/about">About Page</a>
    </div>
</div>