<!DOCTYPE html> 
<html>
    <head>
     <meta charset="utf-8">
        <title>Album site</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="" type="image/x-icon">

        <link rel="stylesheet" "href"="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
        <script src="/albumCardTemplate.js" charset="utf-8" defer></script>
        <script src="/index.js" charset="utf-8" defer></script>
        <link rel="stylesheet" href="https://use.typekit.net/gjx5gti.css">
    </head>

    <body>
        {{> header}} 

        {{{body}}}
    </body>
</html>