<main class="about-page">
    <div class="text-box">
        <div class="about-text">
            <h2>Site Author: <span>Quinn Robertson</span></h2> 
            <h3>January 2022</h3>
            <div class="description">
                <p>Project to practice implementing HTML, CSS, JavaScript, <br> Handlebars templating, Express, and Node.js</p>
            </div>
        </div>

        <div class="contact-me-container">
            <h3>Contact Me</h3>
            <div class="contact-links">
                <div class="link">
                    <a href="https://github.com/qnnrb"><img src="https://logos-download.com/wp-content/uploads/2016/09/GitHub_logo.png" alt="github"></a>
                    <p>GitHub</p>
                </div>
                <div class="link">
                    <a href="https://twitter.com/qnnrb"><img src="https://th.bing.com/th/id/R.8eb68c7065e5057c9314f335d1bcb4a6?rik=MOyc0JOnQQE3pA&pid=ImgRaw&r=0" alt="twitter"></a>
                    <p>Twitter</p>
                </div>
            </div>
        </div>
    </div>
</main>