<main class="home-page"> 
    <div class = "main-content-container">
        <div class="main-image">
            <img src="" alt="">
        </div>
        <div class = "main-description">
            New Release: <a href="/artist/bennythebutcher/tanatalk4">Tana Talk 4</a> by <a href="/artist/bennythebutcher">Benny the Butcher</a>
        </div>
    </div>
    <aside class = "side-container">
        <div class = "week-albums-list">
            <div class = "week-album-header">
                Albums of the Week
            </div>
        </div>
    </aside>
</main>